%h1 Listing problems

%table
  %tr
    %th Name
    %th Description
    %th Problem set

- for problem in @problems
  %tr
    %td=h link_to problem.name, problem_path(problem)
    %td=h truncate(problem.description, :length => 30)
    %td=h problem.problem_set_id
  
    %td= link_to 'Edit', edit_problem_path(problem)
    %td= link_to 'Destroy', problem_path(problem), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete
    
= link_to 'New problem', new_problem_path 
