%p
  %b Name:
  =h @problem.name 

%p
  %b Description:
  =h @problem.description 

%p
  %b Problem set:
  =h link_to @problem.problem_set.name, problem_set_path(@problem.problem_set)


= link_to 'Edit', edit_problem_path(@problem)
= link_to 'Back', problems_path
