%p
  %b Name:
  =h @member.name 

%p
  %b Email:
  =h @member.email 

%p
  %b Notes:
  =h @member.notes 

%p
  %b Team:
  =h @member.team_id 


= link_to 'Edit', edit_member_path(@member)
= link_to 'Back', members_path
